<head>
  <meta charset="utf-8">
  <title>Resume</title>
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;600&amp;display=swap" rel="stylesheet">
  <style>
    @page {
      size: portrait;
      margin: 0;
    }

    body {
      margin: 0 !important;
    }

    #resume-container {
      width: calc(1030px - 1in);
      height: calc(1327px - 1in);
      overflow: hidden;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    #resume-container > * {
      font-family: "Roboto", sans-serif;
      box-sizing: border-box;
      overflow: hide;
      color: inherit;
      scrollbar-width: none;
      font-weight: lighter;
    }

    a {
      text-decoration: none;
    }

    li {
      display: list-item;
      list-style-type: "\2014";
      padding-inline-start: 1ch;
      margin-bottom: 0;
      font-size: 1em;
      line-height: 1.5;
    }
  </style>
</head>
<thead></thead>
<div style="width: max-content;font-size: 1rem;line-height: 1.5;letter-spacing: 0;margin: 0; padding: 0.5in">
  <div id="resume-container">
    <div style="text-align: center; width: 100%;">
      <div>
        <h4 id="full_name" style="font-size: 1.5rem;font-weight: 500;line-height: 1.2;margin: 0px;"></h4>
      </div> <span style="font-weight: 400;"><span id="city"></span>, <span id="state">TX</span> | <span
          id="phone_no"></span> | <span id="email_address"></span></span>
    </div>
    <div style="width: 100%; text-align: left; padding-top: 15px;">
      <h4
        style="border-bottom: 2px solid black;font-size: 1.5rem;font-weight: 500;line-height: 1.2;margin: 0px;margin-bottom: 10px !important;">
        Education</h4> <span style="float: right;"><span id="university_start_day"></span> - <span
          id="university_end_day"></span></span> <span id="university" style="font-weight: 500;"></span> - <span
        id="university_location"></span><br> <span id="major" style="font-weight: 500;"></span><br> <span
        style="font-weight: 500;">Sample of Courses Taken:</span> <span id="sample_courses_description"></span> <br><br>
      <h4
        style="border-bottom: 2px solid black;font-size: 1.5rem;font-weight: 500;line-height: 1.2;margin: 0px;margin-bottom: 10px !important;">
        Professional Experience</h4> <span id="work_role_1" style="font-weight: 500;"></span>, <span
        id="work_name_1"></span>, <span id="work_location_1"></span> <span style="float: right;"><span
          id="work_start_day_1"></span> - <span id="work_end_day_1"></span></span>
      <ul style="margin-top: 0 !important;margin-bottom: 0 !important;">
        <li id="work_bullet_1_1"></li>
        <li id="work_bullet_1_2"></li>
        <li id="work_bullet_1_3"></li>
        <li id="work_bullet_1_4"></li>
      </ul><br> <span id="work_role_2" style="font-weight: 500;"></span>, <span id="work_name_2"></span>, <span
        id="work_location_2"></span> <span style="float: right;"><span id="work_start_day_2"></span> - <span
          id="work_end_day_2"></span></span>
      <ul style="margin-top: 0 !important;margin-bottom: 0 !important;">
        <li id="work_bullet_2_1"></li>
        <li id="work_bullet_2_2"></li>
        <li id="work_bullet_2_3"></li>
        <li id="work_bullet_2_4"></li>
      </ul><br> <span id="work_role_3" style="font-weight: 500;"></span>, <span id="work_name_3"></span>, <span
        id="work_location_3"></span> <span style="float: right;"><span id="work_start_day_3"></span> - <span
          id="work_end_day_3"></span></span>
      <ul style="margin-top: 0 !important;margin-bottom: 0 !important;">
        <li id="work_bullet_3_1"></li>
        <li id="work_bullet_3_2"></li>
        <li id="work_bullet_3_3"></li>
        <li id="work_bullet_3_4"></li>
      </ul><br>
      <h4
        style="border-bottom: 2px solid black;font-size: 1.5rem;font-weight: 500;line-height: 1.2;margin: 0px;margin-bottom: 10px !important;">
        Volunteer Work and Organizations</h4> <span id="activity_role_1" style="font-weight: 500;"></span>, <span
        id="activity_title_1"></span>, <span id="activity_location_1"></span> <span style="float: right;"><span
          id="activity_start_day_1"></span> - <span id="activity_end_day_1"></span></span>
      <ul style="margin-top: 0 !important;margin-bottom: 0 !important;">
        <li id="activity_bullet_1_1"></li>
        <li id="activity_bullet_1_2"></li>
      </ul><br> <span id="activity_role_2" style="font-weight: 500;"></span>, <span id="activity_title_2"></span>, <span
        id="activity_location_2"></span> <span style="float: right;"><span id="activity_start_day_2"></span> - <span
          id="activity_end_day_2"></span></span>
      <ul style="margin-top: 0 !important;margin-bottom: 0 !important;">
        <li id="activity_bullet_2_1"></li>
        <li id="activity_bullet_2_2"></li>
      </ul><br> <span id="activity_role_3" style="font-weight: 500;"></span>, <span id="activity_title_3"></span>, <span
        id="activity_location_3"></span> <span style="float: right;"><span id="activity_start_day_3"></span> - <span
          id="activity_end_day_3"></span></span>
      <ul style="margin-top: 0 !important;margin-bottom: 0 !important;">
        <li id="activity_bullet_3_1"></li>
        <li id="activity_bullet_3_2"></li>
      </ul><br>
      <h4
        style="border-bottom: 2px solid black;font-size: 1.5rem;font-weight: 500;line-height: 1.2;margin: 0px;margin-bottom: 10px !important;">
        Skills</h4>
      <ul style="margin-top: 0 !important;margin-bottom: 0 !important;">
        <li><span style="font-weight: 500;">Certifications:</span> <span id="certifications_description"></span></li>
        <li><span style="font-weight: 500;">Technical Skills:</span> <span id="technical_skills_description"></span>
        </li>
        <li><span style="font-weight: 500;">Languages:</span> <span id="spoken_languages_description"></span></li>
      </ul>
    </div>
  </div>
  <tfoot></tfoot>
</div>