<head>
  <meta charset="utf-8">
  <title>Resume</title>
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;600&amp;display=swap" rel="stylesheet">
  <style>
    @page {
      size: portrait;
      margin: 0;
    }
    body {
      margin: 0 !important;
    }
    #resume-container {
      width: calc(1030px - 1in);
      height: calc(1327px - 1in);
      overflow: hidden;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    #resume-container > * {
      font-family: "Roboto", sans-serif;
      box-sizing: border-box;
      overflow: hide;
      color: inherit;
      scrollbar-width: none;
      font-weight: lighter;
    }
    a {
      text-decoration: none;
    }
    li {
      display: list-item;
      list-style-type: "\2014";
      padding-inline-start: 1ch;
      margin: 0;
      font-size: 1em;
      line-height: 1.5;
    }
  </style>
</head>
<thead></thead>

<div style="width: max-content;font-size: 1rem;line-height: 1.5;letter-spacing: 0;margin: 0; padding: 0.5in">
  <div id="resume-container">
    <div style="text-align: center; width: 100%;">
      <div>
        <h4 id="full_name" style="font-size: 1.5rem;font-weight: 500;line-height: 1.2;margin: 0px;">Rishabh Tatia</h4>
      </div> <span style="font-weight: 400;"><span id="city">College Station</span>, <span id="state">TX</span> | <span
          id="phone_no">+1-713-208-0982</span> | <span id="email_address">tatiaris2001@gmail.com</span></span>
    </div>
    <div style="width: 100%; text-align: left; padding-top: 15px;">
      <h4 style="border-bottom: 2px solid black;font-size: 1.5rem;font-weight: 500;line-height: 1.2;margin: 0px;margin-bottom: 10px;">Education</h4> <span
        style="float: right;"><span id="university_start_day">Aug 2018</span> - <span id="university_end_day">May
          2022</span></span> <span id="university" style="font-weight: 500;">Texas A&amp;M University</span> - <span
        id="university_location">College Station, TX</span><br> <span id="major" style="font-weight: 500;">B.S. in
        Applied Mathematics, Computer Science</span><br> <span style="font-weight: 500;">Sample of Courses Taken:</span>
      <span id="sample_courses_description">Data Structures and Algorithms, Discrete Mathematics, Programming Languages,
        Linear Algebra, Principles of Data Science, Numerical Analysis, Advanced Calculus</span> <br><br>
      <h4 style="border-bottom: 2px solid black;font-size: 1.5rem;font-weight: 500;line-height: 1.2;margin: 0px;margin-bottom: 10px;">Professional Experience</h4> <span
        id="work_role_1" style="font-weight: 500;">Tech Director</span>, <span id="work_name_1">TAMU Datathon</span>,
      <span id="work_location_1">College Station, Texas</span> <span style="float: right;"><span
          id="work_start_day_1">June 2020</span> - <span id="work_end_day_1">Present</span></span>
      <ul style="margin-top: 0 !important;margin-bottom: 0 !important;">
        <li id="work_bullet_1_1">Organized the largest MLH Datathon event with 2000+ applicants, spanning 120+ majors
          and
          120+ universities.</li>
        <li id="work_bullet_1_2">Built an event and participant tracking system, implemented log-in/sign-up
          functionality,
          and created</li>
        <li id="work_bullet_1_3">Worked in a team of 5 to develop the organization's open source website and tools.</li>
        <li id="work_bullet_1_4">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
          incididunt
          ut labore et dolore magna aliqua. Ut enim ad minim veniam</li>
      </ul><br> <span id="work_role_2" style="font-weight: 500;">Full Stack Developer</span>, <span id="work_name_2">ACE
        Lab</span>, <span id="work_location_2">College Station, Texas</span> <span style="float: right;"><span
          id="work_start_day_2">Feb 2020</span> - <span id="work_end_day_2">Present</span></span>
      <ul style="margin-top: 0 !important;margin-bottom: 0 !important;">
        <li id="work_bullet_2_1">Published a data entry, visualization, analysis webapp for Interactive Episode
          Analysis.
        </li>
        <li id="work_bullet_2_2">Built the official lab website that serves over 12000 users per year.</li>
        <li id="work_bullet_2_3">Redesigned, updated, and maintained several pages across the website.</li>
        <li id="work_bullet_2_4">Sed ut unde omnis iste natus error sit voluptatem accusantium doloremque laudantium,
          totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto</li>
      </ul><br> <span id="work_role_3" style="font-weight: 500;">Full Stack Developer</span>, <span id="work_name_3">4.0
        Tutoring</span>, <span id="work_location_3">College Station, Texas</span> <span style="float: right;"><span
          id="work_start_day_3">Sep 2019</span> - <span id="work_end_day_3">Jan 2020</span></span>
      <ul style="margin-top: 0 !important;margin-bottom: 0 !important;">
        <li id="work_bullet_3_1">Redesigned the tutoring website to make it user-friendly.</li>
        <li id="work_bullet_3_2">Created a work logging and authenticating system.</li>
        <li id="work_bullet_3_3">Assisted in increasing sales by 4% over the next semester.</li>
        <li id="work_bullet_3_4">sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque
          porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam
          eius modi tempora</li>
      </ul><br>
      <h4 style="border-bottom: 2px solid black;font-size: 1.5rem;font-weight: 500;line-height: 1.2;margin: 0px;margin-bottom: 10px;">Volunteer Work and Organizations</h4>
      <span id="activity_role_1" style="font-weight: 500;">Team Officer</span>, <span id="activity_title_1">A&amp;M
        Racquetball Club</span>, <span id="activity_location_1">College Station, Texas</span> <span
        style="float: right;"><span id="activity_start_day_1">Aug 2019</span> - <span
          id="activity_end_day_1">Present</span></span>
      <ul style="margin-top: 0 !important;margin-bottom: 0 !important;">
        <li id="activity_bullet_1_1">Won Men's Singles and Doubles tournament against Texan universities at Aggieland Open 2020.</li>
        <li id="activity_bullet_1_2">Won Men's Doubles tournament at UT Austin's 2020 Tournament. due to Covid-19).</li>
      </ul><br> <span id="activity_role_2" style="font-weight: 500;">Participant</span>, <span
        id="activity_title_2">Tamuhack 2020</span>, <span id="activity_location_2">College Station, Texas</span> <span
        style="float: right;"><span id="activity_start_day_2">Jan 2020</span> - <span id="activity_end_day_2">Feb
          2020</span></span>
      <ul style="margin-top: 0 !important;margin-bottom: 0 !important;">
        <li id="activity_bullet_2_1">Developed Spot 'Em, a web-app that would help identify and report endangered
          species.
        </li>
        <li id="activity_bullet_2_2">Integrated Computer Vision and Google Maps to spot animals and notify authorities
          of
          their location.</li>
      </ul><br> <span id="activity_role_3" style="font-weight: 500;">Volunteer</span>, <span id="activity_title_3">Big
        Event</span>, <span id="activity_location_3">College Station, Texas</span> <span style="float: right;"><span
          id="activity_start_day_3">Feb 2019</span> - <span id="activity_end_day_3">Mar 2019</span></span>
      <ul style="margin-top: 0 !important;margin-bottom: 0 !important;">
        <li id="activity_bullet_3_1">Volunteered along with hundreds of other students at the Big Event.</li>
        <li id="activity_bullet_3_2">Cleaned houses, mowed lawns, and picked up all public trash to keep the city clean.
        </li>
      </ul><br>
      <h4 style="border-bottom: 2px solid black;font-size: 1.5rem;font-weight: 500;line-height: 1.2;margin: 0px;margin-bottom: 10px;">Skills</h4>
      <ul style="margin-top: 0 !important;margin-bottom: 0 !important;">
        <li><span style="font-weight: 500;">Certifications:</span> <span id="certifications_description">Autodesk
            Inventor, Google Ads</span></li>
        <li><span style="font-weight: 500;">Technical Skills:</span> <span id="technical_skills_description">Python,
            Typescript, C++, Java, PHP, Next.js, ReactJS, Flask, MongoDB, SQL</span></li>
        <li><span style="font-weight: 500;">Languages:</span> <span id="spoken_languages_description">English (native),
            Hindi (native), French (3 years)</span></li>
      </ul>
    </div>
  </div>
  <tfoot></tfoot>
</div>